@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}



body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/* ------------------------ */
/* top.php */

html{
  width: 100%;
}

.main{
  width: 100%;
}

.topmane {
	margin: 80px auto;
	width: 500px;
}

.topmane h1{
  display: block;
	margin: 0 auto;
	width: 350px;
	font-size: 35px;
	margin-bottom: 30px;
}

.topmane h2{
  text-align: center;
  font-size: 25px;
}

.senntaku{
  text-align: center;
  font-size: 30px;
}

.senntaku2{
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
}

.senntaku a{
	font-weight: bold;
	color: #f0852d;
	background: #FFF;
	border: solid 3px  #f0852d;
	border-radius: 5px;
  padding-left: 120px;
  padding-right: 120px;
	cursor: pointer;
}

.senntaku2 a{
	font-weight: bold;
	color: #17afca;
	background: #FFF;
	border: solid 3px  #17afca;
	border-radius: 5px;
  padding-left: 120px;
  padding-right: 120px;
	cursor: pointer;
}

.senntaku a:hover{
  background-color:#f58428;
  color:#FFF;
}

.senntaku2 a:hover{
  background-color:#17afca;
  color:#FFF;
}


/* ------------------------ */
/* e_login.php */

.login {
	margin: 80px auto;
	width: 500px;
}

.login h1{
  text-align: center;
	margin: 0 auto;
	font-size: 40px;
	margin-bottom: 30px;
}

.login h2{
  text-align: center;
  font-size: 25px;
}


dl label {
  font-size: 20px;
  margin-left: 500px; 
}

dl input {
  width: 35%;
  font-size: 1.2rem;
  padding-bottom: 8px;
  padding-top: 8px;
  border-radius: 5px;
  border: 1px solid #aaa;
  margin-left: 500px;
  margin-bottom: 30px;
}

dl textarea {
  width: 35%;
  font-size: 1.2rem;
  padding-bottom: 40px;
  padding-top: 8px;
  border-radius: 5px;
  border: 1px solid #aaa;
  margin-left: 500px;
  margin-bottom: 30px;
}

.roginform input {
  width: 35%;
  font-size: 1.2rem;
  padding-bottom: 8px;
  padding-top: 8px;
  border-radius: 5px;
  margin-left: 500px;
  margin-bottom: 30px;
  cursor: pointer;
  color: #f0852d;
	background: #FFF;
	border: solid 3px  #f0852d;
}

.roginform input:hover {
  background-color:#f58428;
  color:#FFF;
}

.signup1{
  text-align: center;
  font-size: 20px;
}

.yoko{
  display: flex;
  text-align: center;
  margin-left: 500px;
  margin-top: 30px;
  font-size: 20px;
}


.signup3 {
  margin-left: 200px;
}

dl p {
  color: red;
  margin-left: 500px;
  margin-bottom: 20px;
}

/* ------------------------ */
/* signup.php */

.midasi h1{
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}

.zyouhou{
  width: 35% ; 
  border-bottom:solid 2px grey;
  margin-left: 500px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 15px;
}

.required {
  background-color: red;
  color: white;
  margin-left: 10px;
  border-radius: 5px;
  padding-left: 1.5px;
  padding-right: 1.5px;
}

.sinki input{
  width: 10%;
  font-size: 1.2rem;
  padding-bottom: 8px;
  padding-top: 8px;
  border-radius: 5px;
  margin-left: 700px;
  margin-bottom: 30px;
  cursor: pointer;
  color: #f0852d;
	background: #FFF;
	border: solid 3px  #f0852d;

}

.sinki input:hover {
  background-color:#f58428;
  color:#FFF;
}

/* ------------------------ */
/* reserve.php */
.hyou table{
  margin-right: 70px;
}


.hyou td{
  border: solid 1px rgb(14, 13, 13);
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.hyou table tr:nth-child(even) td{
  background: #fcb290;
}

.hyou th{
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.paging{
  text-align: center;
  padding-top: 10px;
}

.kennsaku{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.kennsaku ul{
  margin-right: 50px;
  background-color: rgba(240, 239, 239, 0.5);
  padding-bottom: 20px;
}

li input{
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
}


li{
  text-align: center;
}

/* ------------------------ */
/* detaile.php */

.syousai{
  width: 100%;
  display: flex;
  justify-content: center;
}


.syousai td{
  border: solid 1px rgb(14, 13, 13);
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.syousai th{
  border: solid 1px rgb(14, 13, 13);
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #fcb290;
}

.gazou img{
  border: 1px solid black;
  width: 60%;
}


.kakutei{
  text-align: center;
  margin-top: 25px;
}

.cansel{
  margin-top: 10px;
}

.modoru{
  text-align: center;
  margin-top: 30px;
}


/* ------------------------ */
/* r_mypage.php */


.mypagehyou table{
  margin: 0 auto;
}

.mypagehyou td{
  border: solid 1px rgb(14, 13, 13);
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.mypagehyou table tr:nth-child(even) td{
  background: #fcb290;
}

.mypagehyou th{
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.mypage h2{
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
}

.mypage1 h2{
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  margin-top: 40px;
}



.logout{
  margin-top: 20px;
  text-align: center;

}

.list{
  list-style: none;
  overflow: hidden;
  margin-left: 550px;
  margin-bottom: 5px;
}

.list li{
  width: 140px;
  text-align: center;
  background-color: #f0852d;
  float: left;
}

.list li a{
  text-decoration: none;
  color: #FFF;
}

/* ------------------------ */
/* r_edit.php */

.touroku h2{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.touroku p{
  text-align: center;
}

.modoru{
  text-align: center;
}

/* ------------------------ */
/* r_edit.php */
.yokonarabi{
  display: flex;
  justify-content: center;
}

.midasi h2{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.edit_gazou img{
  margin: 0 auto;
  width: 8%;
  border: 1px solid black;
}

.edit_gazou input{
  margin-top: 5px;
}

dd p{
  color: red;
  text-align: center;
}
